<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fintechsn.huahuadai.mapper.api.ProductIpRecordMapper">

    <sql id="mColumnsSql">
        id AS id,
        product_id AS productId,
        ip AS ip,
        create_by AS createBy,
        create_date AS createDate,
        update_by AS updateBy,
        update_date AS updateDate,
        remarks AS remarks,
        del_flag AS delFlag
    </sql>
</mapper>